.header-bar {
  background-color: white;
  border-bottom: 2px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
}
